.container-results {
  background-color: #12303f;
  width: 100%;
  height: 100%;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 74px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container-results-title {
  color: var(--White);
}
.container-results-paragraph {
  color: var(--Slate300);
  text-indent: 3px;
  text-align: justify;
}
.container-results-informations {
  background-color: red;
  padding: 20px;
  background-color: #0e2532;
  border-top: 3px solid var(--Lime);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  p {
    color: var(--Slate300);
  }
  h1 {
    color: var(--Lime);
    font-size: 32px;
  }
  h3 {
    color: var(--White);
  }
}
.container-results-informations-nums {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.line {
  width: 100%;
  height: 1px;
  background-color: hsl(201, 57%, 21%);
}
