button {
  background-color: hsl(61, 70%, 52%);
  padding: 10px 15px;
  border-radius: 24px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: hsl(202, 55%, 16%);
  font-size: 14px;
  cursor: pointer;
  img{
    height: 16px;
  }
}

